<h2>Por País</h2>
<hr />
<div class="row">
  <div class="col">
    <app-pais-input
      (onEnter)="searchPais($event)"
      (onDebounce)="sugerencias($event)"
      placeholder="Buscar país..."
    ></app-pais-input>
  </div>
</div>
<ul *ngIf="mostrarSugerencias" class="list-group">
  <li
    *ngFor="let pais of paisesSugeridos"
    class="list-group-item list-group-item-action"
  >
    <a class="text-primary nav-link" [routerLink]="['/pais', pais.ccn3]">
      {{ pais.name.common }}
    </a>
  </li>
  <li class="text-primary list-group-item list-group-item-action">
    <a class="nav-link" (click)="searchSugerido(namePais)">
      Buscar {{ namePais }}
    </a>
  </li>
</ul>
<hr />
<div *ngIf="temErro" class="alert alert-danger">
  País {{ namePais }} não localizado!
</div>
<div class="row">
  <div class="col">
    <app-pais-table [paises]="paises"></app-pais-table>
  </div>
</div>
